.chat-message-text{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 300px
}

.send-button {
        background-color: rgb( 25, 135, 84);
        color: rgb(240, 170, 170);
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px; 
        cursor: pointer;
      }

