

img {
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    background-color: aquamarine;
    border-radius: 50px;

}
  


.app-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
}
 



